<div class="row col s12 paddingless">
    <a href="#modal"  class="action-create waves-effect waves-teal btn-flat right">
        <i class="material-icons">add_circle</i>
    </a>
    <h4>Activities</h4>

    <div class="activity-list"></div>
</div>