<div class="row instance-row">
    <button type="submit" class="activity-toggle waves-effect waves-teal btn-flat btn-less-padding">
        <i class="material-icons tiny">
            <% if (!is_running) { %>play_arrow<% } else { %>pause<% }  %>
        </i>
    </button>
    <%= name %>
    <a href="#modal" class="action-btn action-edit waves-effect waves-teal btn-flat btn-less-padding btn-tiny right">
        <i class="material-icons tiny">mode_edit</i>
    </a>
</div>