<h2 class="center-align main-day cursor-pointer" id="dateview-toggle">{{ day|format_dt }}<i
        class="material-icons">arrow_drop_down</i></h2>
<div class="row main-day" id="calendar-wrapper" hidden>
    <div id="calendar-title"></div>
    <div class="center">
        <a href="#" data-calendar-nav="prev"><< Prev</a>
        <a href="#" data-calendar-nav="today">Today</a>
        <a href="#" data-calendar-nav="next">Next >></a>
    </div>
    <div id="calendar-container"></div>
</div>