<div class="row">
    <h3>Create a task</h3>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="task-body" type="text" class="validate"
               placeholder="Describe the task briefly...">
    </div>
</div>
