<div class="row instance-row">
    <input name="status" type="checkbox" id="tasks-checkbox-<%= id %>" value="<%= id %>"
           class="task-checkbox" <% if (status === TaskConstants.STATUS_DONE) { %>checked="checked"<% } %>>
    <label class="card-element-text-content" for="tasks-checkbox-<%= id %>"> <%= body %>
    </label>
    <button type="submit" class="action-btn task-start waves-effect waves-teal btn-flat btn-less-padding right">
        <i class="material-icons tiny">
            <% if (status !== TaskConstants.STATUS_IN_PROGRESS) { %>play_arrow<% } else { %>pause<% }  %>
        </i>
    </button>
    <a href="#modal" class="action-btn action-edit waves-effect waves-teal btn-flat btn-less-padding btn-tiny right">
        <i class="material-icons tiny">mode_edit</i>
    </a>
</div>