{% macro form_field(form, field, width=6, hidden=False) %}
    <div class="input-field col s{{ width }}" {% if hidden %}hidden{% endif %}>
        {{ field(**kwargs) }}
        {{ field.label }}
        {% if field.name in form.errors %}
            {% for error in form.errors[field.name] %}
                <div style="color: red;">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
