{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m4">
                <h1>MyDay Productivity Platform<br>
                    <small>All of your productivity stuff in one place</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <img class="responsive-img" src="{{ url_for('static', filename='img/screenshot1.jpg') }}"
                     alt="screenshot of app"/>
            </div>
        </div>
        <div class="row">
            <div class="col m2 offset-m2">
                <h3>Human entry</h3>
                <p>Enter your thoughts as they are. Type a Todo: in and let MyDay understand this is a task.
            </div>
            <div class="col m2">
                <h3>Kanban-like</h3>
                <p>Manage all of your productivity needs in a proven system that let's you see how you are doing in a
                    single glance.
            </div>
            <div class="col m2">
                <h3>Customizable</h3>
                <p>We know that everyone's way of productivity is different. So we will allow you to customize
                    everything - what you need, when you need it!
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h2>Apps</h2>
                <p>Here are some of the apps that you can start using right now!
            </div>
        </div>
        <div class="row">
            <div class="col m3 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <h3>Journal</h3>
                        <p>Just a simple log - track what you have been doing as you are doing it or just write it all
                            at the end of the day.
                    </div>
                </div>
            </div>
            <div class="col m3">
                <div class="card">
                    <div class="card-content">
                        <h3>Tasks</h3>
                        <p>The basis of task management - a todo list where you can tick done and start progress.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h2>And soon...</h2>
                <p>Here are some of the apps that we are working on:
            </div>
        </div>
        <div class="row">
            <div class="col m2 offset-m2">
                <div class="card">
                    <div class="card-content">
                        <h3>Events</h3>
                        <p>Never forget a meeting or an appointment with the events app.
                    </div>
                </div>
            </div>
            <div class="col m2">
                <div class="card">
                    <div class="card-content">
                        <h3>Activities</h3>
                        <p>Track your activities and get reports of how much time you spend on each of them.
                    </div>
                </div>
            </div>
            <div class="col m2">
                <div class="card">
                    <div class="card-content">
                        <h3>Goals</h3>
                        <p>Set goals and see reports of how you are doing by day, week or month.
                    </div>
                </div>
            </div>
            <div class="col m2">
                <div class="card">
                    <div class="card-content">
                        <h3>Trackers</h3>
                        <p>Automatically track your activities on conditions such as start of an app, time frames and locations.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h2>Try it now!</h2>
                <a href="/register" class="btn btn-primary btn-block">Register</a>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
