<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title or "DayLog" }}</title>
    {% include "favicons.html" %}
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% if not config.DEBUG_FE %}
        {% assets "css_layout" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% else %}
        {% for css_layout_element in config.css_layout_elements %}
            <link rel="stylesheet" href="{{ url_for('static', filename=css_layout_element) }}">
        {% endfor %}
    {% endif %}
    {% block style %}{% endblock %}
</head>
<body>

{% include "top-nav.html" %}
{% include "navigation.html" %}
<div id="modal" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action btn-submit modal-close waves-effect waves-green btn right">Submit</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat right">Close</a>
    </div>
</div>
<main>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{% if category == 'message' %}danger{% else %}{{ category }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</main>
<script>
  var DEBUG = {% if config.DEBUG %}true{% else %}false{% endif %}
</script>
{% if not config.DEBUG_FE %}
    {% assets "js_layout" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% else %}
    {% for js_layout_element in config.js_layout_elements %}
        <script type="text/javascript" src="{{ url_for('static', filename=js_layout_element) }}"></script>
    {% endfor %}
{% endif %}
{% block script %}{% endblock %}
</body>
</html>
