<ul id="slide-out" class="side-nav">
    <li {% if request.path == url_for('client.present') %}class="active"{% endif %}>
        <a href="{{ url_for('client.present') }}">
            <i class="material-icons">access_time</i>Now
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
</ul>