{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="date-view">
            {% include "partials/calendar.html" %}
            <div class="row horizontal-scroll main-day">
                {% for panel in panels %}
                    <div class="panel">
                        <div class="panel-title">
                            <p>{{ panel.name }}</p>
                        </div>
                        <div class="panel-content">
                            {% for card_component in panel.card_components %}
                                {% if card_component.template %}
                                    <div class="cardc small" id="{{ card_component.name }}">
                                        <div class="cardc-content">
                                            {% include card_component.template %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="cardc small" id="{{ card_component.name }}" hidden>
                                        <div class="cardc-content"></div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for panel in panels %}
                {% for card_component in panel.card_components %}
                    {% if card_component.fe_templates %}
                        {% for name, fe_template in card_component.fe_templates.iteritems() %}
                            <script type="text/x-template" id='fe-template-{{ name }}'>
                                {% include fe_template %}
                            </script>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if not config.DEBUG_FE %}
        {% assets "js_present" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% else %}
        {% for js_present_element in config.js_present_elements %}
            <script type="text/javascript" src="{{ url_for('static', filename=js_present_element) }}"></script>
        {% endfor %}
    {% endif %}
{% endblock %}
