<ul id="dropdown1" class="dropdown-content">
    <li><a href="/logout">Logout</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left">
            <li>
                <a href="#" data-activates="slide-out" class="top-nav full" id="hamburger">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right">
            {% if current_user.is_authenticated %}
                <li>
                    <a class="nav-button dropdown-button" href="#!" data-activates="dropdown1">
                        {{ current_user.name }}
                        <i class="material-icons right">arrow_drop_down</i></a>
                </li>
            {% else %}
                <li>
                    <a class="nav-button" href="/register">Register</a>
                </li>
                <li>
                    <a class="nav-button" href="/login">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>