{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <h1>Log in</h1>

                {% set login_form = login_user_form %}
                {% include "forms/login.html" %}
                <p><a href="/register">Register</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
      // paranoicaly, clean the local storage data
      localStorage.clear();

      $('#login-form').on('submit', function () {
        var emailEl = $(this).find('#email');
        emailEl.val(emailEl.val().trim());
        $('#login-form-submit').prop('disabled', true);
      })

      $("#email").click(function () {
        $('html, body').animate({
          scrollTop: $("#email").offset().top - 100
        }, 500);
      });

      $("#password").click(function () {
        $('html, body').animate({
          scrollTop: $("#password").offset().top - 100
        }, 500);
      });
    </script>
{% endblock %}