{% extends "layout.html" %}

{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <h1>Register</h1>

                <div style="height: 10px;"></div>
                <div class="well">

                    {% set signup_form = register_user_form %}
                    {% include "forms/register.html" %}
                </div>
                <p>Have an account? <a href="/login">Login</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
      // paranoicaly, clean the local storage data
      localStorage.clear();

      $('#register-form').on('submit', function () {
        var emailEl = $(this).find('#email');
        emailEl.val(emailEl.val().trim());
        $('#register-form-submit').prop('disabled', true);
      });

      $("#name").click(function () {
        $('html, body').animate({
          scrollTop: $("#name").offset().top - 100
        }, 500);
      });

      $("#email").click(function () {
        $('html, body').animate({
          scrollTop: $("#email").offset().top - 100
        }, 500);
      });

      $("#password").click(function () {
        $('html, body').animate({
          scrollTop: $("#password").offset().top - 100
        }, 500);
      });

      $("#password_confirm").click(function () {
        $('html, body').animate({
          scrollTop: $("#password_confirm").offset().top - 100
        }, 500);
      });
    </script>
{% endblock %}