{% import "_macros.html" as macros %}
<form class="action" method="post" action="/login" id="login-form">
    {{ login_form.hidden_tag() }}
    <div class="row">
        {{ macros.form_field(login_form, login_form.email, width=12) }}
    </div>
    <div class="row">
        {{ macros.form_field(login_form, login_form.password, width=12) }}
    </div>
    <div class="row">
        {{ macros.form_field(login_form, login_form.remember, width=12) }}
    </div>
    <div class="row" style="margin-top: 30px;">
        <input id="login-form-submit" class="btn btn-primary btn-block" name="submit" type="submit" value="Login">
    </div>
</form>
