<div class="row col s12">
    <div class="input-field">
        <textarea placeholder="What's your day like..." name="body" class="materialize-textarea"
                  id="journal-entry-textarea"></textarea>
    </div>
    <button type="submit" class="right waves-effect waves-light btn">Submit</button>
</div>