<div class="row">
    <h3>Edit journal entry</h3>
    <a href="#" class="action-delete modal-close waves-effect waves-teal btn-flat btn-less-padding btn-tiny right">
        <i class="material-icons tiny">delete</i>
    </a>
</div>
<div class="row">
    <div class="input-field col s12">
        <input id="journal-entry-body" type="text" class="validate" value="<%= body %>" placeholder="what's your day like">
    </div>
</div>