<div class="row instance-row">
    <blockquote>
        <p class="card-element-text-content"><strong><%= created_ts %></strong> <%= body %></p>
    </blockquote>
    <a href="#modal" class="action-btn action-edit waves-effect waves-teal btn-flat btn-less-padding btn-tiny right">
        <i class="material-icons tiny">mode_edit</i>
    </a>
</div>