html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.container {
  width: 100%;
  max-width: initial;
}

nav {
  background-color: white;
  box-shadow: initial;
}

blockquote {
  border-left: 5px solid #353535;
  margin: 5px 0;
  display: inline-block;
}

.border-right {
  border-right: solid 1px #aaa;
}

strong {
  font-weight: bold !important;
}

.inline {
  display: inline;
}

.btn-less-padding {
  padding: 0 5px;
}

.paddingless {
  padding: 0 !important;
}

h1 {
  font-size: 2.60rem;
}

h2 {
  font-size: 2.28rem;
}

h3 {
  font-size: 1.96rem;
}

h4 {
  font-size: 1.64rem;
}

h5 {
  font-size: 1.32rem;
}

h6 {
  font-size: 1rem;
}

.timer-circle {
  position: absolute;
}

.timer-str {
  text-align: center;
}

.activity-small-img {
  height: 25px !important;
  margin-right: 10px;
}

#calendar-container {
  max-width: 500px !important;
  margin: 10px auto;
  background-color: #fff;
  padding: 10px;
}

#calendar-wrapper {
  background-color: #ddd;
}

#calendar-title {
  text-align: center;
  font-size: 2rem;
}

.cal-month-day {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.goal-circle {
  height: 60px;
  top: 10px;
  left: 10px;
}

.activity-goal-filler {
  top: 5px;
  height: 20px;
}

.cardc .cardc-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 15;
}

.cardc {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  z-index: 10;
}

label {
  color: black;
}

.row {
  margin-bottom: 0;
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}

/* PANEL */
.panel {
  height: 85vh;
  vertical-align: top;
  overflow-y: scroll;
  display: inline-block;
  width: 30%;
  min-width: 300px;
  max-width: 600px;
  border: solid 1px #bbb;
  border-radius: 2px;
  background-color: #ccc;
  margin: 10px;
  position: relative;
  z-index: 5;
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
  .panel {
    width: 80%;
    max-width: 300px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
  .panel {
    width: 60%;
    max-width: 400px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
  .panel {
    width: 40%;
    max-width: 500px;
  }
}

.panel-content {
  padding: 10px;
}

.panel-title {
  font-size: 18px;
  background-color: #eee;
  padding: 10px;
}

.panel-title p {
  margin: 0;
}

.horizontal-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 90%;
  margin: 0 auto !important;
  position: relative;
}

.inner-scrollable {
  display: inline-block;
  float: initial !important;
}

/* END PANEL */

/* SCROLLBAR */
::-webkit-scrollbar-button {
  display: none;
  height: 13px;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* END SCROLLBAR */

.task-project {
  cursor: pointer;
  padding-bottom: 15px;
  font-size: 1.2rem;
}

.card-element-text-content {
  display: inline-block;
  word-break: break-word;
  max-width: 90%;
  white-space: normal;
}

.instance-row {
  min-height: 36px;
}

.instance-row:hover .action-btn {
  display: block;
}

.action-btn {
  display: none;
}

.btn-tiny {
  height: 30px;
  line-height: 30px;
}

#hamburger {
  color: black;
}

.nav-button {
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}

.main-day {
  top: -35px;
  position: relative;
}